<div class="container-fluid">
    <h1 class="text-center">Le Pendu
        <small>Un jeu wild</small>
    </h1>
    <center><a href='#/fr'>fr</a> | <a href='/'>en</a></center>
    <hr/>
    <div class="col-md-8 col-md-offset-2">
        <form ng-submit="send()" class="form-inline text-center">
            <div class="input-group">
                <span class="input-group-btn">
                    <select class="btn btn-info btn-lg" ng-model='option' ng-change="focusCommand()">
                        <option value='lisezmoi' selected>Lisez-moi</option>
                        <option value='init'>Initialiser</option>
                        <option value='initLong'>Initialiser avec un mot d'une longueur de
                        </option>
                        <option value='initMot'>Initialiser avec le mot
                        </option>
                        <option value='statut'>Statut</option>
                        <option value='devinerLettre'>Envoyer une lettre</option>
                        <option value='devinerMot'>Envoyer un mot</option>
                        <option value='eponger'>Annuler la partie</option>
                    </select>
                </span>
                <input type="text" class="form-control input-lg" style='height:48px;' placeholder="Commande..." ng-model='command'/>
                <span class='input-group-btn' ng-click='send()'>
                    <button type="button" class="btn btn-info btn-lg">
                        <span class='glyphicon glyphicon-ok'></span>
                    </button>
                </span>
            </div>
        </form>
        <hr/>
        <textarea disabled ng-model='result' class="form-control" style='min-height:250px; height:auto'>

        </textarea>
    </div>
</div>
